<nav class="animated navbar navbar-expand-md navbar-light   " style=" background-color: #fff; ">

    <div class="container-fluid ">
        <a class="navbar-brand" href="#">
            <img src="../assets/img/logoLogin.png" alt="" width="50" height="50">
            <img src="../assets/img/nombrelogo.png" alt="" width="50" height="50">
        </a>


        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a class="nav-link bordelink " routerLinkActive="active" aria-current="page" routerLink="homSe">Inicio</a>
                <a class="nav-link bordelink" routerLinkActive="active" routerLink="somos">¿Quienes somos?</a>

                <a class="nav-link bordelink " routerLinkActive="active" routerLink="ayuda">Ayuda</a>
                <a class="nav-link bordelink " routerLinkActive="active" routerLink="registro">Registrarme</a>
                <a class="nav-link bordelink " routerLinkActive="active" routerLink="sesion">Inicia Sesion</a>
            </div>
        </div>
    </div>
</nav>
<hr>