.bordelink{
    border:1px solid #8CC9D1 ;
    margin: 0 10px;
    border-radius: 15px;
    background-color: #8CC9D1;
    width: 150px;
    text-align: center;
}
.bordelink:hover{
    background-color: #fff;
}
.borde{
    border-bottom: 0.5px solid #8CC9D1;
    margin-bottom: 20px;
}
