<div class="card col-md-6" style=" width: 18rem;">
    <!-- <img src="../assets/img/logoLogin.png" class="card-img-top" alt="..."> -->
    <div class="card-body">
        <h5 class="card-title">Regístrate</h5>

        <form>
            <div class="mb-3">


                <input type="text" placeholder="Introdusca su nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">

                <input type="password" placeholder="Introdusca su apellido" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">

                <input type="email" placeholder="Correo" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">


                <input type="text" placeholder="Documento" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">


                <input type="password" placeholder="Crear una clave" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">


                <input type="password" placeholder="Repetir clave" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">


                <input type="text" placeholder="Seleccione su país" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">


                <input type="text" placeholder="Seleccione su Provincia" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">


                <input type="text" placeholder="Fecha de naciemiento" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">


                <input type="text" placeholder="Genero" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Recordar mi contraseña</label>
            </div>
            <button type="submit" class="btn btn-primary">Registrarme</button>
            <br>

            <a href="#">Borrar todo</a>
        </form>

    </div>
</div>