<div class="card col-md-6 contenedorSesion" style=" width: 25rem;">
    <!-- <img src="../assets/img/logoLogin.png" class="card-img-top" alt="..."> -->
    <div class="card-body">
        <h5 class="card-title centrar-texto">Registrarme</h5>

        <form>
            <div class="borde">
                <div class="mb-3">

                    <input type="text" placeholder="Introduzca su nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
                </div>
                <div class="mb-3">
    
                    <input type="password" placeholder="Introduzca su apellido" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
    
                    <input type="email" placeholder="Correo" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
    
    
                    <input type="number" placeholder="DNI" class="form-control">
    
                </div>
                <div class="mb-3">
    
    
                    <input type="password" placeholder="Contraseña" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
                </div>
                <div class="mb-3">
    
    
                    <input type="password" placeholder="Repetir contraseña" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
                </div>
                <div class="mb-3">
    
                    <select name="" id="" class="form-select">
                        <option value disabled selected>Pais</option>
                        <option value="1">Argentina</option>
                        <option value="2">Chile</option>
                        <option value="3">Venezuela</option>
                        <option value="4">Uruguay</option>
                        <option value="5">Paraguay</option>
                    </select>
    
                </div>
                <div class="mb-3">
    
                    <select name="" id="" class="form-select">
                        <option value="" disabled selected>Provincia</option>
                        <option value="1">Catamarca</option>
                        <option value="2">La Rioja</option>
                        <option value="3">Tucuman</option>
                        <option value="4">Cordoba</option>
                        <option value="5">Santiago del Estero</option>
                    </select>
    
                </div>
                <div class="mb-3 input-group">
    
    
                    <span class="input-group-text color" id="basic-addon2">Fecha de Nac.</span>
                    <input type="date" class="form-control color" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
    
                </div>
                <div class="mb-3">
    
    
                    <select name="" id="" class="form-select">
                        <option value="" disabled selected>Genero</option>
                        <option value="1">Masculino</option>
                        <option value="2">Femenino</option>
                        <option value="3">Otro</option>
                    </select>
                </div>
            </div>

            <div class="boton-registro">
                <button type="submit" class="btn btn-primary">Registrarme</button>
            </div>
            <br>

        </form>

    </div>
</div>