<div class="container d-flex justify-content-center">

    <div class="card d-flex justify-content-center" style="width: 18rem;">
        <img src="https://depor.com/resizer/vpvHbeFdWfh35CEwOrFpXTioe0E=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/EXGFO7CIMBHLDMTBIWTBO2CBQA.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title centrar text-center">Ayuda</h5>
            <p class="card-text">contactenos al numero 3834521111</p>
            <a href="#" class="btn btn-primary "> Whatsap</a>

        </div>
    </div>