<mat-nav-list>
    <a mat-list-item routerLink="inicio" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon><span class="nav-caption">Inicio</span>
    </a>
    <a mat-list-item routerLink="somos" (click)="onSidenavClose()">
        <mat-icon><i class="fas fa-users"></i></mat-icon><span class="nav-caption">¿Quienes Somos?</span>
    </a>
    <a mat-list-item routerLink="ayuda" (click)="onSidenavClose()">
        <mat-icon><i class="fas fa-hands-helping"></i></mat-icon><span class="nav-caption">Ayuda</span>
    </a>
    <a mat-list-item routerLink="registro" (click)="onSidenavClose()">
        <mat-icon><i class="fas fa-child"></i></mat-icon><span class="nav-caption">Registrarme</span>
    </a>
    <a mat-list-item routerLink="sesion" (click)="onSidenavClose()">
        <mat-icon><i class="fas fa-user-tie"></i></mat-icon><span class="nav-caption">Inicio Sesion</span>
    </a>
</mat-nav-list>