<div>
    <div class="menu">
		<img src="../assets/img/carrito-de-compras.png" alt="" width="150" height="150">
        <h5>¡Disfruta de los beneficios de Valan!</h5>
		<h6>Compra y suma puntos</h6>
		<img src="../assets/img/dinero-digital.png" alt="" width="150" height="150">
	</div>
</div>

<div>
    <div class="menu">
        <img src="/valan/Icons/carrito-de-compras 1.png" alt="" width="150" height="150">
        <h5>¡Disfruta de los beneficios de Valan!</h5>
        <h6>Compra y suma puntos</h6>
        <img src="/valan/Icons/dinero-digital 2.png" alt="" width="150" height="150">
    </div>
</div>
<h1>Aceesos Directos</h1>

<section class="accesos">

    <h3>Transferencia</h3>
    <img src="/valan/Icons/1.png" alt="">

    <h3>Pago en Efectivo</h3>
    <img src="/valan/Icons/2.png" alt="">

    <h3>Compra de Crypto</h3>
    <img src="/valan/Icons/3.png" alt="">

    <h3>Compra-Venta de Dolar</h3>
    <img src="/valan/Icons/4.png" alt="">

    <h3>Inversiones</h3>
    <img src="/valan/Icons/5.png" alt="">

    <h3>Prestamos</h3>
    <img src="/valan/Icons/6.png" alt="">

</section>

<h2>Cotizaciones Cryptomonedas</h2>

<section class="cotizacion">

    <h4>Bitcoin</h4>
    <img src="/valan/Icons/3-2.png" alt="">

    <h4>Ethereum</h4>
    <img src="/valan/Icons/ethereum.png" alt="">

    <h4>DAI</h4>
    <img src="/valan/Icons/dai.png" alt="">

    <h4>Solana</h4>
    <img src="/valan/Icons/solana.png" alt="">

</section>