<div class="login" style=" width: 22rem;">
    <img src="../assets/img/logoLogin.png" class="card-img-top" alt="...">
    <div class="contenedorSesion">
        <h5 class="card-title">Iniciar Sesión</h5>

        <form>
            <div class="mb-3">
                <input type="email" placeholder="Correo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">

                <input type="password" placeholder="Contraseña" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Recordar mi Correo</label>
            </div>
            <div class="boton">
                <button type="submit" class="btn btn-primary color-boton">Entrar</button>
            <br>
            </div>

            <a href="#">Olvidé mi contraseña</a>
        </form>

    </div>
</div>