<div class=" container d-flex justify-content-center align-items-center">
    <div class="card " style=" width: 18rem;">
        <!-- <img src="../assets/img/logoLogin.png" class="card-img-top" alt="..."> -->
        <div id="centrador" class="card-body ">
            <h5 class="card-title">Equipo N°3</h5>


            <p> Somos un equipo de Estudiantes en Desarrollo Full Stack Catamarca 2021-2022.</p>
            <p>Te proponemos un desarrollo sin límites en el que pensaremos juntos una estrategia integral en armonía con los procesos de tu organización, la tecnología y las personas. Apostar a la transformación digital es construir el futuro.</p>
            <div>

                <li>
                    Abigail Zurita
                </li>
                <li>
                    Micaela Aybar
                </li>
                <li>
                    Veronica Barros
                </li>
                <li>
                    Iván Parra
                </li>
                <li>
                    Acosta Claudio Javier
                </li>

            </div>


        </div>
    </div>
</div>